[submodule "ext_lib/littlefs-lib"]
	path = ext_lib/littlefs-lib
	url = https://github.com/rppicomidi/littlefs-lib.git
[submodule "ext_lib/parson"]
	path = ext_lib/parson
	url = https://github.com/kgabis/parson.git
